# Bỏ qua file video lớn
*.mp4
*.txt
*.mp3
*.xlsx

# Bỏ qua thư mục build hoặc node_modules
build/
node_modules/

# Bỏ qua file cấu hình cá nhân
.env
config.json

# Bỏ qua tệp tạm của hệ điều hành
*.tmp
*.log
.DS_Store
Thumbs.db

